@import url("./colors.css");
@import url("./carousel.css");
.items-center {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

* {
  font-family: Gilroy-Regular, sans-serif !important;
}
