@import url("./colors.css");
@import url("./carousel.css");
@import url("./product_show.css");
.items-center {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

* {
  font-family: Gilroy-Regular, sans-serif !important;
}

.f-500 {
  font-weight: 500;
  font-family: Gilroy-Medium, sans-serif !important;
}

/* transition */

.slide-fade-enter-active {
  transition: all 0.3s linear;
}

.slide-fade-leave-active {
  transition: all 0.3s linear;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.n-card__content {
  padding: 0 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
