@import url("./colors.css");
@import url("./carousel.css");
@import url("./product_show.css");
.items-center {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

* {
  font-family: Gilroy-Regular, sans-serif !important;
}

.f-500 {
  font-weight: 500;
  font-family: Gilroy-Medium, sans-serif !important;
}

/* transition */

.slide-fade-enter-active {
  transition: all 0.3s linear;
}

.slide-fade-leave-active {
  transition: all 0.3s linear;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.n-card__content {
  padding: 0 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.rotated_icon {
  transform: rotate(180deg);
}

.top_product_card {
  width: 100%;
  background: white;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ebebeb;
}

.top_product_card_heading {
  padding: 16px 0 0 16px;
}

.top_card_title {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #777777 !important;
}

.top_card_description {
  font-family: Gilroy-Medium, sans-serif !important;
  font-size: 16px;
  font-weight: 500 !important;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 4px;
  color: #333 !important;
}

.top_card_price_parent {
  display: flex;
  margin-top: 4px;
}

.top_card_price_start {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #777777 !important;
}

.top_card_price {
  font-family: Gilroy-Medium, sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 4px;
}

.top_product_card_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #005baa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  font-family: Gilroy-Medium, sans-serif !important;

  font-size: 14px !important;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.iPhone_img {
  height: 268px;
}
