@import url("./colors.css");
@import url("./carousel.css");
@import url("./product_show.css");
.items-center {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

* {
  font-family: Gilroy-Regular, sans-serif !important;
}

.f-500 {
  font-weight: 500;
  font-family: Gilroy-Medium, sans-serif !important;
}
